@inherits LayoutComponentBase


<div class="wrapper">

	<Header />
	<SideBar />
	<MainContent />
	<Footer />
	<ControlSidebar />
	<!-- Add the sidebar's background. This div must be placed immediately after the control sidebar -->
	<div class="control-sidebar-bg"></div>

</div>
	<!-- ./wrapper -->
	<!-- Vendor JS -->


@code {

}
