<h3>SideBar</h3>

<!-- Left side column. contains the logo and sidebar -->
<aside class="main-sidebar">
	<!-- sidebar-->
	<section class="sidebar">
		<!-- sidebar menu-->
		<ul class="sidebar-menu" data-widget="tree">
			<li>				
				<NavLink href="/home">
					<i class="mdi mdi-database"></i>
					<span>Dashboard</span>
				</NavLink>
			</li>		
			<li class="treeview">
				<a href="#">
					<i class="mdi mdi-image-filter-vintage"></i>
					<span>Charts</span>
					<span class="pull-right-container">
						<i class="fa fa-angle-right pull-right"></i>
					</span>
				</a>
				<ul class="treeview-menu">
					<li><a href="charts_c3_bar.html"><i class="ti-more"></i>Charts</a></li>
					<NavLink href="/c3-bar-charts">
						<i class="ti-more"></i>
						<span>C3 Charts</span>
					</NavLink>
				</ul>
			</li>		
		</ul>
	</section>

	<div class="sidebar-footer">
		<!-- item-->
		<a href="javascript:void(0)" class="link" data-toggle="tooltip" title="" data-original-title="Settings" aria-describedby="tooltip92529"><i class="mdi mdi-settings"></i></a>
		<!-- item-->
		<a href="mailbox_inbox.html" class="link" data-toggle="tooltip" title="" data-original-title="Email"><i class="mdi mdi-email-variant"></i></a>
		<!-- item-->
		<a href="javascript:void(0)" class="link" data-toggle="tooltip" title="" data-original-title="Logout"><i class="mdi mdi-lock-plus"></i></a>
	</div>
</aside>

@code {

}
