@using Vindo.BackOfficeUI.Models.C3Chart
@using Vindo.BackOfficeUI.Utility
@inject IJSRuntime JS
@implements IAsyncDisposable

<div class=@Class>
    <div class="box">
        <div class="box-header with-border">
            <h4 class="box-title">@Title</h4>
        </div>
        <div class="box-body">
            <div id="bar-chart"></div>
        </div>
    </div>
</div>


@code {

    [Parameter]
    public required string Title { get; set; }

    [Parameter]
    public string? Class { get; set; } = "col-xl-4 col-12";

    [Parameter]
    public required C3BarChart Data { get; set; }


    private IJSObjectReference? module;


    private async Task InitializeChartAsync()
    {
        if (module != null)
        {
            var labelColours = Data.Labels.Select(x => ColorGenerator.GetRandomColor());
            await module.InvokeVoidAsync("barChartWidget", "#bar-chart", Data.Labels, labelColours, Data.Data, Data.RotateAxis, Data.ShowGrid, 350);
        }
    }


    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            module = await JS.ComponentModule<C3BarChartBox>();
            await InitializeChartAsync();
        }
    }

    protected override async Task OnParametersSetAsync()
    {
        await base.OnParametersSetAsync();

        // Reinitialize the chart when parameters change
        await InitializeChartAsync();
    }

    async ValueTask IAsyncDisposable.DisposeAsync()
    {
        if (module != null)
        {
            await module.DisposeAsync();
        }
    }

}

