@using Vindo.BackOfficeUI.Models.Colors

<a href="#" class="mr-2" @onclick="HandleAction" @attributes="Attributes"><i class="fa fa-edit text-info"></i></a>


@code {
    [Parameter]
    public EventCallback<Dictionary<string, object>> OnAction { get; set; }

    [Parameter]
    public ColorMood Mood { get; set; }

    [Parameter(CaptureUnmatchedValues = true)]
    public Dictionary<string, object> Attributes { get; set; } = new Dictionary<string, object>();

    private async Task HandleAction()
    {
        if (OnAction.HasDelegate)
        {
            await OnAction.InvokeAsync(Attributes);
        }
    }
}
